<div class="flex wrapper">
    <div class="flex half">
      <span class="flex text">
        <h2>Besides Golf, what are some skills you are interested in learning?</h2>
        <p><em>Answer for a chance to win a free session!</em></p>
      </span>

      <form class="flex text" action="index.html" method="post">
        <span class="flex input"><input type="text" name="" value=""></span>

        <button class="btn btn-success">
          Submit
        </button>
      </form>
    </div>
    <div class="flex half">
      <app-testimonials></app-testimonials>
    </div>

</div>
