<h3>Signup Up for the Beta</h3>
<form id="signup" [formGroup]="apprenticeSignupForm" (ngSubmit)="onApprenticeSignup()">
  <input type="text" value="" placeholder="Full Name"
  id="fullname" formControlName="fullname">
  <input type="email" value="" placeholder="Email"
  id="email" formControlName="email">
  <input type="password" value="" placeholder="Password"
  id="password" formControlName="password">
  <span class="flex">
    <button type="submit"
    class="btn btn-success">Submit
    </button>
    <a routerLink="/login" type="button"
    class="btn btn-primary">Login
    </a>
  </span>
</form>
<!--
<div class="flex">
  <a routerLink="/signup/teacher" class="btn btn-warning flex coach-butt">Become a Coach</a>
</div> -->
