<form class="flex master-form" [formGroup]="masterSignupForm" (ngSubmit)="onMasterSignup()">
  <input type="text" placeholder="First Name" formControlName="firstname">
  <input type="text" placeholder="Last Name" formControlName="lastname">
  <input type="email" placeholder="Email@email.com" formControlName="email">
  <input type="password" placeholder="password" formControlName="password">
  <label for="yearsExp">How many years of Experience do you have as a Coach?</label>
  <span class="flex">
      <input type="number" id="yearsExp" placeholder="" formControlName="yearsExp">
      <h4 id="years">Years</h4>
  </span>

<span class="flex">
  <label for="skills">What skills are you most comfortable coaching?</label>
    <input type="text" class="skill" formControlName="skill1">
    <input type="text" class="skill" formControlName="skill2">
    <input type="text" class="skill" formControlName="skill3">
</span>

<button type="submit" class="btn btn-success">Submit</button>

</form>

<div class="flex">
  <a routerLink="/teacher/login" class="btn btn-primary">Teacher Login</a>
</div>
